@model IEnumerable<PickleWebStore.Models.Category>

@{
    ViewBag.Title = "Silinen Kategoriler";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Silinen Kategoriler</label>
</div>
<div class="pageContent">
    <div class="pagetitle" style="background: linear-gradient(#2e65fc, #3100fc); color: white ">
        <h2 style="margin:20px;">Kategori Listesi</h2>
        @Html.ActionLink("Kategori Oluştur", "Create")
        <div style="clear:both"></div>
    </div>
    <div class="tableContent">
        <table class="table">
            <tr>
                <th style="border-left:none">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Aktiflik
                </th>
                <th>Seçenekler</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr style="background-color: #ffdede">
                    <td style="border-left:none;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }, new { @class = "btnedit" })
                        @Html.ActionLink("Silme işlemini geri al", "ReDelete", new { id = item.ID }, new { @class = "btndetail", @style = "background-color:#973ec1" })
                    </td>

                </tr>
            }

        </table>
    </div>
    <div class="tablefooter">
        <a class="btn-back" style="font-size: 14pt; margin: 10px; padding: 4px; background-color: #007aff; " href="@Url.Action("Index","Categories")">Aktif Kategorileri Listele</a>
    </div>
</div>

@section styles
    {
    <link href="~/Areas/ManagementPanel/Assets/css/TableStyle.css" rel="stylesheet" />
}