@model IEnumerable<PickleWebStore.Models.Product>
@using System.Web.Mvc
@{
    ViewBag.Title = "Pickle Store";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    List<PickleWebStore.Models.Category> categories = ViewBag.categories as List<PickleWebStore.Models.Category>;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/UIMainStyle.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>
    <div style="padding-top:20px;">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-swiper-autoplay="3000"><img src="~/Assets/SiteImages/jars1.png" /></div>
                <div class="swiper-slide" data-swiper-autoplay="3000"><img src="~/Assets/SiteImages/jars2.png" /></div>
                <div class="swiper-slide" data-swiper-autoplay="3000"><img src="~/Assets/SiteImages/jars3.png" /></div>
            </div>
            <div style="color:black" class="swiper-button-prev"></div>
            <div style="color:black" class="swiper-button-next"></div>

        </div>
    </div>
    <div class="mainBase">
        <hr style="color:silver;font-weight:100" />
        <div>
            <div class="categoriesBase">
                <div class="title">
                    Popüler Kategoriler
                </div>
                <div class="content">
                     @foreach (var item in categories)
                      {
                                <a href="@Url.Action("Category", "Home", new {id=@item.ID})">@item.Name</a>
                      }
                </div>
                <hr style="margin-top:20px;color:silver;font-weight:100"  />
                <div class="clear"></div>
            </div>
            
            <div class="productBase">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        <div class="product">
                            <a href="@Url.Action("Detail","Product", new {id=item.ID})" style="text-decoration:none">
                                <div class="image">
                                    <img src="~/Assets/ProductImages/@item.Image" />
                                </div>
                                <div class="name">
                                    @item.Name
                                </div>
                                <div class="price">
                                    @item.Price ₺ 
                                </div>
                            </a>
                            <div class="cartAdd">
                                <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.ID, quantity = 1 })">Sepete Ekle</a>
                            </div>
                        </div>
                    }
                    <div style="clear:both"></div>
                }
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

    const swiper = new Swiper('.swiper', {

        // Optional parameters
        loop: true,
        speed: 1000,
        autoplay: {
            delay: 4000,
        },
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 20,
            stretch: 40,
            depth: 200,
            modifier: 1,
            slideShadows: false,
        },
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
</script>