@model  List<PickleWebStore.Models.ShoppingCart>
@{
    ViewBag.Title = "Sepetim";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/UIMainStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="breadCrumb">
        <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
        <label>Sepetim</label>
    </div>
    <div class="mainBase">
        <div style="float:right;text-align:center">
            <div class="overall">
                <h2>Sepet Özeti</h2>
                <label style="margin:5px;">Ürün Toplamı    &emsp;&emsp;&emsp;&emsp;000TL</label>
                <label style="margin: 5px; color: forestgreen ">Kargo Ücreti &emsp;&emsp;&emsp;&nbsp;Ücretsiz!</label>
                <hr style="color: #E6E6E6;margin-top:10px;" />
                <h3 style="margin-top:10px;">Toplam  &emsp;&emsp;&emsp;&emsp;&emsp;<label style="color:#396f2c">000tl</label></h3>
            </div>
            <a class="gotoPay" href="#">Ödemeye İlerle</a>
        </div>
        
        
        @foreach (var item in Model)
        {
            <div class="cartItem">
                <a href="@Url.Action("Detail", "Product", new { id = item.Product_ID
                    })"><img class="image" src="~/Assets/ProductImages/@item.Product.Image" alt="Alternate Text" /></a>
                <div class="clear"></div>
                <div style="width:400px;max-width:400px;">
                    <a href="@Url.Action("Detail", "Product", new { id = item.Product_ID
                        })" class="itemBrand">@item.Product.brand.Name</a><a href="@Url.Action("Detail", "Product", new { id = item.Product_ID })" class="itemLabel">@item.Product.Name</a>
                    </div>
                    <div class="clear"></div>
                    <div class="quantityAdjustPanel">
                        <a href="#" class="decrease">-</a>
                        <input type="text" name="quantity" value="@item.Quantity" readonly style="text-align: center; width: 35px; margin-left: 5px; margin-right: 5px;text-shadow:none" />
                        <a href="#" class="increase">+</a>
                    </div>
                    <div style="font-size:22px;margin-top:30px;margin-left:100px;">
                        @(item.Product.Price * item.Quantity) TL
                    </div>
                    <div>
                        <a href="#">
                            <img style="width:25px;margin-top:30px;margin-left:30px" src="~/Assets/SiteImages/recycle-bin.png" />
                        </a>
                    </div>
                </div>
            }
    </div>

</body>
</html>
