@model IEnumerable <PickleWebStore.Models.Product>
@{
    ViewBag.Title = "AllIndex";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<div class="breadCrumb">
    <a href="@Url.Action("Index", "Home")">Anasayfa</a> >
    <label>Silinen Ürünler</label>
</div>
<div class="pageContent">
    <div class="pagetitle" style="background: linear-gradient(#2e65fc, #3100fc); color: white ">
        @Html.ActionLink("Ürün Oluştur", "Create")
        <h2 style="margin-top:20px;">Ürün Listesi</h2>
        <div style="clear:both"></div>
    </div>
    <div class="tableContent">
        <table class="table">
            <tr  style="background-color:#ffdede">
                <th style="border-left:none">
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.brand.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Barcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReorderLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>Seçenekler</th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.IsDeleted)
                {
                    <tr style="background-color:#ffdede">
                        <td style="border-left:none;text-align:center;">
                            <img src="~/Assets/ProductImages/@item.Image" width="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.brand.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Barcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReorderLevel)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }, new { @class = "btnedit" })
                            @Html.ActionLink("Detaylar", "Details", new { id = item.ID }, new { @class = "btndetail" })
                            @Html.ActionLink("Silinmeyi Geri Al", "ReDelete", new { id = item.ID }, new { @class = "btndetail", @style = "background-color:#973ec1" })
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="border-left:none;text-align:center">
                            <img src="~/Assets/ProductImages/@item.Image" width="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.brand.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Barcode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReorderLevel)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Aktifliği Değiştir", "Status", new { id = item.ID }, new { @class = "btnedit" })
                            @Html.ActionLink("Detaylar", "Details", new { id = item.ID }, new { @class = "btndetail" })
                            @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btndelete" })
                        </td>
                    </tr>
                }

            }

        </table>
    </div>
    <div class="tablefooter">
        <a class="btn-back" style="font-size: 14pt; margin: 10px; padding: 4px; background-color: #007aff; " href="@Url.Action("Index","Products")">Aktif Ürünleri Listele</a>
    </div>
</div>

@section styles
    {
    <link href="~/Areas/ManagementPanel/Assets/css/TableStyle.css" rel="stylesheet" />
}


